<div class="bg">
  <div class="content">
    <div class="header">
      <h2 class="name">{{ resume.name }}</h2>
      <div class="jobtitle">{{ resume.jobTitle }}</div>
    </div>
    <div class="contact">
      <div class="row">
        <div class="col-5 cont1">
          <p>
            <i class="bi bi-envelope-fill right2"></i>{{ resume.contact.email }}
          </p>
          <p>
            <i class="bi bi-geo-alt-fill right2"></i>{{ resume.contact.location }}
          </p>
          <p><i class="bi bi-github right2"></i> {{ resume.contact.github }}</p>
        </div>
        <div class="col-5 cont1">
          <p>
            <i class="bi bi-phone-fill right2"></i>{{ resume.contact.mobile }}
          </p>
          <p>
            <i class="bi bi-linkedin right2"></i>{{ resume.contact.linkedin }}
          </p>
          <p>
            <i class="bi bi-stack-overflow right2"></i>{{ resume.contact.stackoverflow }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 cont1">
        <h5 class="title1">EDUCATION</h5>
        <div class="education1">
          <h5 class="subtitle1">
            <b>{{ resume.ug.degree }}</b>
          </h5>
          <h5 class="subtitle2 m2">{{ resume.ug.institute }}</h5>
          <i style="font-size: 14px">
            <div class="course row">
              <div class="col-5">
                {{ resume.ug.startdate }} -
                {{ resume.ug.enddate }}
              </div>
              <div class="col-7 end">CGPA - {{ resume.ug.cgpa }}</div>
            </div>
            <div>Courses</div>
          </i>
          <ul>
            <li style="font-size: 14px">{{ resume.ug.course }}</li>
          </ul>
        </div>

        <div class="education2">
          <h5 class="subtitle1">
            <b>{{ resume.hsc.degree }}</b>
          </h5>
          <h5 class="subtitle2 m2">{{ resume.hsc.institute }}</h5>
          <i style="font-size: 14px">
            <div class="course row">
              <div class="col-5">
                {{ resume.hsc.startdate }} -
                {{ resume.hsc.enddate }}
              </div>
              <div class="col-7 end">
                Percentage - {{ resume.hsc.percentage }}
              </div>
            </div>
          </i>
        </div>
        <div class="projects">
          <h5 class="title">PROJECTS</h5>
          <h5 class="subtitle2 mt2 f20">{{ resume.projects[0].title }}</h5>
          <ul>
            <li class="m2">{{ resume.projects[0].desc1 }}</li>
            <li>{{ resume.projects[0].desc2 }}</li>
          </ul>
          <h5 class="subtitle2 mt2 f20">{{ resume.projects[1].title }}</h5>
          <ul>
            <li class="m2">{{ resume.projects[1].desc1 }}</li>
            <li>{{ resume.projects[1].desc2 }}</li>
          </ul>
        </div>
        <div class="work exp">
          <h5 class="title">WORK EXPERIENCE</h5>
          <h5 class="subtitle1">
            <b>{{ resume.workexp[0].company }}</b>
          </h5>
          <h5 class="subtitle2 m2">{{ resume.workexp[0].designation }}</h5>
          <i style="font-size: 14px">
            <div>
              {{ resume.workexp[0].startdate }} -
              {{ resume.workexp[0].enddate }}
            </div>

            <div>Achievements/Tasks</div>
          </i>
          <ul>
            <li>
              {{ resume.workexp[0].tasks }}
            </li>
          </ul>

          <h5 class="subtitle1">
            <b>{{ resume.workexp[1].company }}</b>
          </h5>
          <h5 class="subtitle2 m2">{{ resume.workexp[1].designation }}</h5>
          <i style="font-size: 14px">
            <div>
              {{ resume.workexp[1].startdate }} -
              {{ resume.workexp[1].enddate }}
            </div>

            <div>Achievements/Tasks</div>
          </i>
          <ul>
            <li>
              {{ resume.workexp[1].tasks }}
            </li>
          </ul>
        </div>
      </div>

      <div class="col-5 cont1">
        <div class="skills">
          <h5 class="title1">SKILLS</h5>
          <div class="row">
            <div class="sbox left2">{{ resume.skills[0] }}</div>
            <div class="sbox left2">{{ resume.skills[1] }}</div>
            <div class="sbox left2">{{ resume.skills[2] }}</div>
            <div class="sbox left2">{{ resume.skills[3] }}</div>
            <div class="sbox left2">{{ resume.skills[4] }}</div>
          </div>
          <div class="row">
            <div class="sbox left2">{{ resume.skills[5] }}</div>
            <div class="sbox left2">{{ resume.skills[6] }}</div>
            <div class="sbox left2">{{ resume.skills[7] }}</div>
            <div class="sbox left2">{{ resume.skills[8] }}</div>
            <div class="sbox left2">{{ resume.skills[9] }}</div>
          </div>
          <div class="row">
            <div class="sbox left2">{{ resume.skills[10] }}</div>
            <div class="sbox left2">{{ resume.skills[11] }}</div>
            <div class="sbox left2">{{ resume.skills[12] }}</div>
            <div class="sbox left2">{{ resume.skills[13] }}</div>
          </div>
        </div>
        <div class="achievements">
          <h5 class="title">ACHIEVEMENTS</h5>
          <h5 class="subtitle2 mt2">{{ resume.achievements[0].name }}</h5>
          <i style="font-size: 12px">
            <div class="m2 gray">
              {{ resume.achievements[0].description }}
            </div>
          </i>
          <h5 class="subtitle2 mt2">{{ resume.achievements[1].name }}</h5>
          <i style="font-size: 12px">
            <div class="m2 gray">
              {{ resume.achievements[1].description }}
            </div>
          </i>
        </div>
        <div class="participations">
          <h5 class="title">PARTICIPATIONS</h5>
          <h5 class="subtitle2 mt2">
            {{ resume.participations[0].name }}
          </h5>
          <i style="font-size: 12px">
            <div class="gray m2">
              {{ resume.participations[0].description }}
            </div>
          </i>
          <h5 class="subtitle2 mt2">
            {{ resume.participations[1].name }}
          </h5>
          <i style="font-size: 12px">
            <div class="gray m2">
              {{ resume.participations[1].description }}
            </div>
          </i>
        </div>

        <div class="certifications">
          <h5 class="title">CERTIFICATIONS</h5>
          <h5 class="subtitle2 mt2 f20">
            {{ resume.certifications[0].name }} ({{
            resume.certifications[0].date
            }}
            )
          </h5>

          <h5 class="subtitle2 mt2 f20">
            {{ resume.certifications[1].name }} ({{
            resume.certifications[1].date
            }}
            )
          </h5>
        </div>
        <div class="languages">
          <h5 class="title">LANGUAGES</h5>

          <div class="row">
            <div class="col-6">
              <h6 class="fb mt2">{{ resume.languages[0].name }}</h6>
              <i style="font-size: 11px">
                <div class="fb m2">{{ resume.languages[0].level }}</div>
              </i>
              <h6 class="fb mt2">{{ resume.languages[2].name }}</h6>
              <i style="font-size: 11px">
                <div class="fb m2">{{ resume.languages[2].level }}</div>
              </i>
            </div>
            <div class="col-6">
              <h6 class="fb mt2">{{ resume.languages[1].name }}</h6>
              <i style="font-size: 11px">
                <div class="fb m2">{{ resume.languages[1].level }}</div>
              </i>
            </div>
          </div>
        </div>
        <div class="areasofinterest">
          <h5 class="title">AREAS OF INTEREST</h5>
          <div class="box">{{ resume.areasofinterests[0] }}</div>
          <div class="row left">
            <div class="box">{{ resume.areasofinterests[1] }}</div>
            <div class="box left2">{{ resume.areasofinterests[2] }}</div>
          </div>

          <div class="box">{{ resume.areasofinterests[3] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>